


    <body>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-link">
                        @*<li>@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact ", "Contact", "Home", new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("FAQ", "FAQ", "Home", new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Terms And Conditions", "Terms And Conditions", "Home", new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Privacy Policies", "Privacy Policies", "Home", new { @class = "nav-link" })</li>*@

                    </ul>
                 
                </div>
            </nav>
        </div>
     
</body>

      